:root {
  --background-color: #1a2937;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  
}


.slick-dots li button {
  filter: invert(1);
}

/* .slick-dots li.slick-active button { } */